<!doctype html>
<html ng-app="CITUMessengerTEST">
  <head>
    <title>Socket.IO chat</title>
    
  </head>
  <body ng-controller="chat">

    <input type="text" ng-model="userid" placeholder="username">
    <button ng-click="connect()">Connect</button>
    Online Users:<br>
    <ul ng-repeat="user in onlineUsers">
      <li>{{user.username}}</li>
    </ul>
    <h3>General Chat</h3>
    <div >
      <ul id="messages"></ul>
      <form action="">
        <input type="text" id="name" ng-model="message">
        <input id="m" autocomplete="off" /><button ng-click="sendMessage()">Send</button>
      </form>
    </div>
    <hr>
    <div>
      <h3>Join a room</h3>
      <input type="text" ng-model="roomName">
      <button ng-click="joinRoom(roomName)">JOIN</button>
      <button ng-click="leaveRoom(roomName)">Leave</button>
      <br>
      <h3> Request User to Join Room </h3>
      <input type="text" ng-model="RequestUser">
      <button ng-click="requestJoinRoom(RequestUser,roomName)">JOIN</button>

      <input type="text" ng-model="roomMessage">
      <button ng-click="sendMessage(roomName,roomMessage)">Send Message</button>
    </div>
    
  </body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script>
    var app = angular.module('CITUMessengerTEST',[]);
    app.controller("chat",function($scope){
      var socket;
      $scope.userid = "";
      $scope.message = "";
      $scope.connected = false;
      $scope.onlineUsers = ['Hello'];
      $scope.connect = function(){
        if($scope.userid.length == 0){
            alert("invalid userid");
        }
        else{
          socket = io();
          socket.on('connect',function(){
            socket.emit('userid', $scope.userid);
            $scope.connected = true;
            alert("Connected as "+$scope.userid);
          });
          socket.on("online users update",function(data){
            $scope.onlineUsers = data;
          });
          socket.on('disconnected',function(){
            socket.emit("removeFromOnline",userid);
          });

          socket.on("receive message",function (data){
              alert(data.roomid + " "+ data.message);

          });
        }
      }

      $scope.joinRoom = function(id){
          socket.emit('join room',id);
      }

      $scope.leaveRoom = function(id){
          socket.emit('leave room',id);
      }

      $scope.sendMessage = function(roomName,roomMessage){
          socket.emit('send message',{ roomid:roomName,message:roomMessage}); 
      }

      $scope.requestJoinRoom = function(RequestUser,roomName){
          socket.emit('request user to join room',{ user:RequestUser,room:roomName}); 

      }

    });

  	
</script>