<!doctype html>
<html ng-app="CITUMessengerTEST">
  <head>
    <title>Socket.IO chat</title>
    
  </head>
  <body ng-controller="chat">

    <input type="text" ng-model="userid" placeholder="username">
    <button ng-click="connect()">Connect</button>
    <div >
      <ul id="messages"></ul>
      <form action="">
        <input type="text" id="name">
        <input id="m" autocomplete="off" /><button>Send</button>
      </form>
    </div>
  </body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script>
    var app = angular.module('CITUMessengerTEST',[]);
    app.controller("chat",function($scope){
      var socket;
      $scope.userid = "";
      $scope.connected = false;

      $scope.connect = function(){
        if($scope.userid.length == 0){
            alert("invalid userid");
        }
        else{
          socket = io();
          socket.on('connect',function(){
            socket.emit('userid', $scope.userid);
            $scope.connected = true;
            alert("Connected as "+$scope.userid);
          });
          socket.on("online users update",function(data){
            console.log(data);
          });
          socket.on('disconnected',function(){
            socket.emit("removeFromOnline",userid);
            
          });
        }
      }

    });

  	
</script>